<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projectc4.c4" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:username=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:username=".MenuActivity"
            android:label="@string/title_activity_menu" >
            <intent-filter>
            <action android:username="android.intent.action.MAIN" />

            <category android:username="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>
